<?php

declare(strict_types=1);

namespace {{NAMESPACE}};

use IronFlow\Core\Service\BaseService;

class {{CLASS_NAME}} extends BaseService
{
    public function __construct()
    {
        // Injection de dépendances
    }

    /**
     * Méthode principale du service
     */
    public function handle(): mixed
    {
        // TODO: Implémenter la logique métier
        return null;
    }
}';
